In [5]:
import pandas as pd
import mlflow
from pycaret.regression import *
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('../data/processed/clean_used_car_prices.csv')

In [7]:
exp = setup(
    data=df,
    target='Price',
    normalize=True,
    rare_to_value=0.01,
    bin_numeric_features=['Mileage','Engine','Car_Age'],
    session_id=42
)

In [8]:
top_models = compare_models(n_select=5)

In [9]:
mlflow.set_tracking_uri("http://localhost:5000")  # or your MLflow URI
mlflow.set_experiment("Used_Car_Price_Prediction")

for model in top_models:
    model_name = str(model).split("(")[0]  # get class name
    eval_result = predict_model(model)
    metrics = pull()  # metrics from PyCaret table
    
    with mlflow.start_run(run_name=model_name):
        # Log parameters
        mlflow.log_param("target", "Price")
        mlflow.log_param("normalize", True)
        mlflow.log_param("rare_to_value", 0.01)
        mlflow.log_param("bin_numeric_features", "Mileage,Engine,Car_Age")
        mlflow.log_param("session_id", 42)
        
        # Log metrics
        mlflow.log_metric("R2", metrics["R2"])
        mlflow.log_metric("MAE", metrics["MAE"])
        mlflow.log_metric("RMSE", metrics["RMSE"])
        
        # Log model
        mlflow.sklearn.log_model(model, "model")

2025/08/29 13:47:06 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/08/29 13:47:10 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run <catboost.core.CatBoostRegressor object at 0x0000019FA89C9270> at: http://localhost:5000/#/experiments/874352189977763051/runs/ba2181b1e72641b1bb43a86599a5b40b
🧪 View experiment at: http://localhost:5000/#/experiments/874352189977763051

2025/08/29 13:47:10 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/08/29 13:47:13 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run LGBMRegressor at: http://localhost:5000/#/experiments/874352189977763051/runs/0553409991d54f42b4ba4f4b97847130
🧪 View experiment at: http://localhost:5000/#/experiments/874352189977763051

2025/08/29 13:47:13 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/08/29 13:47:15 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run XGBRegressor at: http://localhost:5000/#/experiments/874352189977763051/runs/decac54bcfbb45b9ae8df2d8a7daa881
🧪 View experiment at: http://localhost:5000/#/experiments/874352189977763051

2025/08/29 13:47:16 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/08/29 13:47:18 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run RandomForestRegressor at: http://localhost:5000/#/experiments/874352189977763051/runs/8398be36ffa74e4c83373592581cef10
🧪 View experiment at: http://localhost:5000/#/experiments/874352189977763051

2025/08/29 13:47:19 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/08/29 13:47:21 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run ExtraTreesRegressor at: http://localhost:5000/#/experiments/874352189977763051/runs/ae3a4fb7f98344eab6b22edcf24d7ea2
🧪 View experiment at: http://localhost:5000/#/experiments/874352189977763051

In [10]:
best_model = top_models[0]
tuned_model = tune_model(best_model, optimize='R2', fold=5)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [11]:
final_model = finalize_model(tuned_model)

In [12]:
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [13]:
predictions = predict_model(tuned_model, data=df)

In [14]:
final_metrics = pull()

input_example = df.head(1)
from mlflow.models.signature import infer_signature
signature = infer_signature(input_example, final_model.predict(input_example))

with mlflow.start_run(run_name="Final_Best_Model"):
    # Parameters
    mlflow.log_param("model", str(best_model).split("(")[0])
    mlflow.log_param("tuned", True)
    mlflow.log_param("optimize_metric", "R2")

    # Metrics
    mlflow.log_metric("R2", final_metrics["R2"])
    mlflow.log_metric("MAE", final_metrics["MAE"])
    mlflow.log_metric("RMSE", final_metrics["RMSE"])

    # Model
    mlflow.sklearn.log_model(
        sk_model=final_model,
        artifact_path="model",
        registered_model_name="UsedCarPriceModel",
        input_example=input_example,
        signature=signature
    )

2025/08/29 13:47:36 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.

Downloading artifacts:   0%|          | 0/7 [00:00<?, ?it/s]

Registered model 'UsedCarPriceModel' already exists. Creating a new version of this model...
2025/08/29 13:47:40 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: UsedCarPriceModel, version 7

🏃 View run Final_Best_Model at: http://localhost:5000/#/experiments/874352189977763051/runs/21aa03de6e2a4d8f88cb8c414427396b
🧪 View experiment at: http://localhost:5000/#/experiments/874352189977763051

Created version '7' of model 'UsedCarPriceModel'.

In [15]:
save_model(final_model, '../models/catboost_used_car_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Year', 'Kilometers_Driven',
                                              'Mileage', 'Engine', 'Power',
                                              'Seats', 'Car_Age', 'km/year'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Location', 'Fuel_Type',
                                              'Transmission', 'Owner_Type',
                                              'Brand', 'Model'],
                                     transformer=SimpleImpute...
                 ('bin_numeric_features',
                  TransformerWrapper(include=['Mileage', 'Engine', 'Car_Age'],
                                     transformer=KBinsDiscretizer(encode='ordinal',
                                                                  strategy='kmeans'))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  <catboost.core.CatBoostRegressor object at 0x0000019FA89E2D70>)]),
 '../models/catboost_used_car_model.pkl')